<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Collection - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/images/favicon.jpg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {% block stylesheets %}
            {{ encore_entry_link_tags('header') }}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('footer') }}
            {{ encore_entry_link_tags('structureBloc') }}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('header') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <header class="header">
        <!-- Liste des départements -->
        <a href="{{ path('app_home') }}">
        <div class="gpe-titre-logo">
            <img class="logo" src="{{ asset('assets/images/favicon.jpg') }}" alt="Logo" />
            <h1 class="titre-header">Cartes<br>Postales<br>Anciennes</h1>
        </div>
        </a>
        <nav class="sidebar">
            <div class="accordion">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                            Administration
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Ajouter une Carte</a>
                            <a href="#" class="list-group-item list-group-item-action">Ajouter une ville</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                            Auvergne rhône alpes
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Ain - 01</a>
                            <a href="#" class="list-group-item list-group-item-action">Allier - 03</a>
                            <a href="#" class="list-group-item list-group-item-action">Ardèche - 07</a>
                            <a href="#" class="list-group-item list-group-item-action">Cantal - 15</a>
                            <a href="#" class="list-group-item list-group-item-action">Drôme - 26</a>
                            <a href="#" class="list-group-item list-group-item-action">Isère 38</a>
                            <a href="#" class="list-group-item list-group-item-action">Loire - 42</a>
                            <a href="#" class="list-group-item list-group-item-action">Haute-Loire - 43</a>
                            <a href="#" class="list-group-item list-group-item-action">Puy-de-Dôme - 63</a>
                            <a href="#" class="list-group-item list-group-item-action">Rhone - 69</a>
                            <a href="#" class="list-group-item list-group-item-action">Savoie - 73</a>
                            <a href="#" class="list-group-item list-group-item-action">Haute-Savoie - 74</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                            Bourgogne franche comté
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Côte-d'Or - 21</a>
                            <a href="#" class="list-group-item list-group-item-action">Doubs - 25</a>
                            <a href="#" class="list-group-item list-group-item-action">Jura - 39</a>
                            <a href="#" class="list-group-item list-group-item-action">Nièvre - 58</a>
                            <a href="#" class="list-group-item list-group-item-action">Haute-Saône - 70</a>
                            <a href="#" class="list-group-item list-group-item-action">Saône-et-Loire - 71</a>
                            <a href="#" class="list-group-item list-group-item-action">Yonne - 89</a>
                            <a href="#" class="list-group-item list-group-item-action">Territoire de Belfort - 90</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Bretagne
                        </button>
                    </h2><div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Côtes-d'Armor - 22</a>
                            <a href="#" class="list-group-item list-group-item-action">Finistère - 29</a>
                            <a href="#" class="list-group-item list-group-item-action">Ille-et-Vilaine - 35</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbihan - 56</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Centre val de loire
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Cher - 18</a>
                            <a href="#" class="list-group-item list-group-item-action">Eure-et-Loir - 18</a>
                            <a href="#" class="list-group-item list-group-item-action">Indre - 36</a>
                            <a href="#" class="list-group-item list-group-item-action">Indre-et-Loire - 37</a>
                            <a href="#" class="list-group-item list-group-item-action">Loir-et-Char - 41</a>
                            <a href="#" class="list-group-item list-group-item-action">Loiret - 45</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Corse
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Haute-Corse -2A</a>
                            <a href="#" class="list-group-item list-group-item-action">Corse-du-Sud -2B</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item"s>
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Grand est
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Ardennes - 08</a>
                            <a href="#" class="list-group-item list-group-item-action">Aube - 10</a>
                            <a href="#" class="list-group-item list-group-item-action">Marne - 51</a>
                            <a href="#" class="list-group-item list-group-item-action">Haute-Marne - 52</a>
                            <a href="#" class="list-group-item list-group-item-action">Meuse - 55</a>
                            <a href="#" class="list-group-item list-group-item-action">Moselle - 57</a>
                            <a href="#" class="list-group-item list-group-item-action">Bas-Rhin - 67</a>
                            <a href="#" class="list-group-item list-group-item-action">Haut-Rhin - 68</a>
                            <a href="#" class="list-group-item list-group-item-action">Voges - 88</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Hauts de France
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Aine - 02</a>
                            <a href="#" class="list-group-item list-group-item-action">Nord - 59</a>
                            <a href="#" class="list-group-item list-group-item-action">Oise - 60</a>
                            <a href="#" class="list-group-item list-group-item-action">Pas-de-Calais - 62</a>
                            <a href="#" class="list-group-item list-group-item-action">Somme - 80</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Île-de-France
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Paris - 75</a>
                            <a href="#" class="list-group-item list-group-item-action">Seine-et-Marne - 77</a>
                            <a href="#" class="list-group-item list-group-item-action">Yvelines - 78</a>
                            <a href="#" class="list-group-item list-group-item-action">Essonne - 91</a>
                            <a href="#" class="list-group-item list-group-item-action">Haut-de-Seine - 92</a>
                            <a href="#" class="list-group-item list-group-item-action">Seine-Saint-Denis - 93</a>
                            <a href="#" class="list-group-item list-group-item-action">Val-de-Marne - 94</a>
                            <a href="#" class="list-group-item list-group-item-action">Val-d'Oise - 95</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Normandie
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Calvados - 14</a>
                            <a href="#" class="list-group-item list-group-item-action">Eure - 27</a>
                            <a href="#" class="list-group-item list-group-item-action">Manche - 50</a>
                            <a href="#" class="list-group-item list-group-item-action">Orne - 61</a>
                            <a href="#" class="list-group-item list-group-item-action">Seine-Maritime - 76</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Nouvelle Aquitaine
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Charente - 16</a>
                            <a href="#" class="list-group-item list-group-item-action">Charente-Maritime - 17</a>
                            <a href="#" class="list-group-item list-group-item-action">Île d'Oléron - 17</a>
                            <a href="#" class="list-group-item list-group-item-action">Corrèze - 19</a>
                            <a href="#" class="list-group-item list-group-item-action">Creuse - 23</a>
                            <a href="#" class="list-group-item list-group-item-action">Dordogne - 24</a>
                            <a href="#" class="list-group-item list-group-item-action">Gironde - 33</a>
                            <a href="#" class="list-group-item list-group-item-action">Landes - 40</a>
                            <a href="#" class="list-group-item list-group-item-action">Lot-et-Garonne - 47</a>
                            <a href="#" class="list-group-item list-group-item-action">Pyrénnées-Atlantiques - 64</a>
                            <a href="#" class="list-group-item list-group-item-action">Deux-Sèvres - 79</a>
                            <a href="#" class="list-group-item list-group-item-action">Vienne - 86</a>
                            <a href="#" class="list-group-item list-group-item-action">Haut-Vienne - 87</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Occitanie
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Ariège - 09</a>
                            <a href="#" class="list-group-item list-group-item-action">Aude - 11</a>
                            <a href="#" class="list-group-item list-group-item-action">Aveyron - 12</a>
                            <a href="#" class="list-group-item list-group-item-action">Gard - 30</a>
                            <a href="#" class="list-group-item list-group-item-action">Haute-Garonne - 31</a>
                            <a href="#" class="list-group-item list-group-item-action">Gers - 32</a>
                            <a href="#" class="list-group-item list-group-item-action">Hérault - 34</a>
                            <a href="#" class="list-group-item list-group-item-action">Lot - 46</a>
                            <a href="#" class="list-group-item list-group-item-action">Lozère - 48</a>
                            <a href="#" class="list-group-item list-group-item-action">Hautes-Pyrénées - 65</a>
                            <a href="#" class="list-group-item list-group-item-action">Pyrénées-Orientales - 66</a>
                            <a href="#" class="list-group-item list-group-item-action">Tran - 81</a>
                            <a href="#" class="list-group-item list-group-item-action">Tarn-et-Garonne - 82</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Pays de la loire
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Loire-Atlantique - 44</a>
                            <a href="#" class="list-group-item list-group-item-action">Maine-et-Loire - 49</a>
                            <a href="#" class="list-group-item list-group-item-action">Mayenne - 53</a>
                            <a href="#" class="list-group-item list-group-item-action">Sarthe - 72</a>
                            <a href="#" class="list-group-item list-group-item-action">Vendée - 85</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Provence alpes côte d'azure
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Alpes-de-Hautre-Provence - 04</a>
                            <a href="#" class="list-group-item list-group-item-action">Hautes-Alpes - 05</a>
                            <a href="#" class="list-group-item list-group-item-action">Alpes-Maritimes - 06</a>
                            <a href="#" class="list-group-item list-group-item-action">Bouches-du-Rhône - 13</a>
                            <a href="#" class="list-group-item list-group-item-action">Var - 83</a>
                            <a href="#" class="list-group-item list-group-item-action">Vaucluse - 84</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            Départements/Régions outre-mer
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Guadeloupe - 971</a>
                            <a href="#" class="list-group-item list-group-item-action">Martinique - 972</a>
                            <a href="#" class="list-group-item list-group-item-action">Guyane - 973</a>
                            <a href="#" class="list-group-item list-group-item-action">Réunion - 974</a>
                            <a href="#" class="list-group-item list-group-item-action">Mayotte - 976</a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <div class="body-content" type="block">
        <main class="main-content">
            <!-- Contenu principal de la page -->
            {% block body %}{% endblock %}
        </main>

        <footer class="footer">
            <a href="{{ path('app_cgu') }}">Mentions Légales et CGU</a> - <a href="#">Contact</a> - ©<a href="https://www.linkedin.com/in/mélody-delage-8a2a471b0" target="_blank">create by Mélody Delage</a>
        </footer>
    </div>
    </body>
</html>
